body{
    font-family: Arial, Helvet, sans-serif;
    background-image: #fff;
    background: #fff;
  }
  h1{
    padding: 25px;
    border: 1px red;
    outline: none;
    font-size: 35px;
  }
  .container{
    background-color: #ffe999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 90px;
    border-radius: 5px;
    color: #111;
  }
  
  input{
    padding: 25px;
    border: 1px red;
    outline: none;
    font-size: 15px;
  }
  .button{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    border-radius: 10px;
  }
  .button:hover{
    background-color: #1b7dde;
    border-radius: 15px;
    transition: 0.2s;
  }
  a{
    margin-left: 35px;
  }
  header{
      background: #1b7dde;
      padding: 65px;
  }
  header a{
      background: #ffe999;
      border-radius: 3px;
      text-decoration: none;
      padding: 5px;
      margin-left: 80%;
      cursor: pointer;
  }
  header a:hover{
    background: red;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    transition: 0.3s;
  }
